*{
    margin: 0px;
    padding: 0px;
}
/* Work sans font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
}
/* header style */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 2.5rem;
    font-weight: 700;
    color: #241818;

}
nav > ul{
    display: flex;

}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
    
}
nav li a{
    text-decoration: none;
    color: #000000;
}
/* banner style */

.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    margin: 30px 0px;
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
}
.banner-discription{
    color: #727272;
    margin: 10px 20px;
}
.btn-primary{
    margin: 10px;
    border-radius: 5px;
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    background: #fc8802;
    padding: 20px 25px;
    cursor: pointer;
    border: 0;
}
.banner img{
    margin-top: 20px;
    width: 100%;
}


/* responsive media queries */
/* mobile devices  */

@media  screen and (max-width :576px) {
    header{
        padding: 5px;
    }  
    nav{
        flex-direction: column;
        margin: 10px 10px;
        padding: 20px;
    }
    nav > ul{
        padding: 30px;
    }
}



/* Medium devices media query  */
@media screen and (min-width: 576px) and (max-width :960px) {

    header{
        padding:50px;
    }
    nav{
        flex-direction: column;
         padding: 5px; 
    }
    nav > ul{
        margin: 15px;
        padding: 30px;
    }
    
}
/* main style */

main{
    max-width: 1440px;
    margin: 0 auto;
}
/* teams styles */
.teams-container{
    margin-top: 30px;
    display: flex;
    align-items: center;
}
.teams-img-container{
    margin-left: 35px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.1rem;
}
.teams-content{
    padding-left: 70px;
    padding-right: 70px;
}
.teams-title{
    font-size: 2.3rem
}

.teams-title .quick-list{
    color: #727272;
    font-weight: 500;
}
.teams-title .of-our{
    color: #131313;
    font-weight: 700;
}
.teams-title .Features{
    color: #FF900E;
    font-weight: 700;
}
.teams-descrption{
    /* margin: 10px; */
    padding-top: 5px;
    margin-bottom: 5px;
    color: #727272;
    font-weight: 400;
}